<?xml version="1.0"?>
<CONFIG>
  <tools>
    <item index="0" title="Nr." width="20"/>
    <item index="1" title="Id" width="20"/>
    <item index="2" title="Durchmesser" width="90"/>
    <item index="3" title="Länge" width="90"/>
    <item index="4" title="Bezeichnung" width="120"/>
  </tools>
  <scripts>
    <item index="0" name="test" script="test.nc"/>
  </scripts>
  <background bitmap=""/>
  <glcolors>
    <item name="bg" r="1" g="1" b="1"/>
    <item name="table" r="0" g="0" b="0.9" a="0.1"/>
    <item name="limits" r="0.7" g="0.7" b="0.6"/>    
    <item name="cone" r="1" g="0.5" b="0" a="0.5"/>
    <item name="traverse" r="0.5" g="0.5" b="0.5"/>
    <item name="feed" r="0" g="0" b="1"/>
    <item name="toolpath" r="0" g="0" b="0"/>
  </glcolors> 
  <menujog>
    <item index="0" cmd="cmREF" glyph="" text="Ref.-Fahrt..."/>
    <item index="1" cmd="cmTOUCHOFF" glyph="" text="Antasten..."/>    
    <item index="2" cmd="cmTOOLS" glyph="" text="Werkzg."/>
    <item index="3" cmd="cmSCRIPTS" glyph="" text="Scripts..."/>
    <item index="9" cmd="cmCLOSE" glyph="" text="Beenden"/>
  </menujog>
  <menuref>
    <item index="0" cmd="cmBACK" glyph="" text="&lt;"/>
    <item index="1" cmd="cmREFALL" glyph="" text="Alle Achsen"/>    
    <item index="2" cmd="cmREFX" glyph="" text="X-Achse"/>
    <item index="3" cmd="cmREFY" glyph="" text="Y-Achse"/>
    <item index="4" cmd="cmREFZ" glyph="" text="Z-Achse"/>    
    <item index="5" cmd="cmREFA" glyph="" text="A-Achse"/>
    <item index="6" cmd="cmREFB" glyph="" text="B-Achse"/>
    <item index="7" cmd="cmREFC" glyph="" text="C-Achse"/>
    <item index="8" cmd="cmUNREF" glyph="" text="Ref.Aufheben"/>
  </menuref>
  <menutouchoff>
    <item index="0" cmd="cmBACK" glyph="" text="&lt;"/>
    <item index="1" cmd="cmTOUCHX" glyph="" text="X-Achse"/>
    <item index="2" cmd="cmTOUCHY" glyph="" text="Y-Achse"/>    
    <item index="3" cmd="cmTOUCHZ" glyph="" text="Z-Achse"/>
    <item index="4" cmd="cmTOUCHA" glyph="" text="A-Achse"/>
    <item index="5" cmd="cmTOUCHB" glyph="" text="B-Achse"/>    
    <item index="6" cmd="cmTOUCHC" glyph="" text="C-Achse"/>
    <item index="7" cmd="cmZEROALL" glyph="" text="Alle 0.00"/>
  </menutouchoff>
  <menutool>
    <item index="0" cmd="cmBACK" glyph="" text="&lt;"/>
    <item index="1" cmd="cmTOOLCHG" glyph="" text="Wkz-Wechsel"/>
    <item index="2" cmd="cmTOOLEDT" glyph="" text="Wkz bearbeiten..."/>    
  </menutool>
  <menumdi>
    <item index="0" cmd="cmMDIEXEC" glyph="" text="Ausführen"/>
    <item index="2" cmd="cmMDIHIST" glyph="" text="Hist.-Löschen"/>    
  </menumdi>
  <menurun>
    <item index="0" cmd="cmRUN" glyph="" text="Start"/>    
    <item index="1" cmd="cmSTOP" glyph="" text="Stop"/>
    <item index="2" cmd="cmSTEP" glyph="" text="Schritt"/>
    <item index="3" cmd="cmPAUSE" glyph="" text="Pause"/>    
    <item index="4" cmd="cmRUNLINE" glyph="" text="Start ab Zeile"/>
    <item index="5" cmd="cmOPTSTOP" glyph="" text="Opt.-Stops"/>
    <item index="6" cmd="cmBLOCKDEL" glyph="" text="/ Blöcke"/>
    <item index="7" cmd="cmRELOAD" glyph="" text="Neu Laden"/>
    <item index="8" cmd="cmOPEN" glyph="" text="Öffnen..."/>
    <item index="9" cmd="cmEDITOR" glyph="" text="Editor..."/>
  </menurun>
</CONFIG>
