<?xml version="1.0"?>
<CONFIG>
  <global>
    <float name="Edgefinderdia" value="8"/>
    <boolean name="InitialFullscreen" value="True"/>
    <boolean name="Verbose" value="1"/>
  </global>
<jogincrements>
  <item index="0" title="Fortlaufend" value="0"/>
  <item index="1" title="0.10 mm" value="0.1"/>
  <item index="2" title="0.20 mm" value="0.2"/>
  <item index="3" title="0.50 mm" value="0.5"/>
  <item index="4" title="1.00 mm" value="1.0"/>
  <item index="5" title="2.00 mm" value="2.0"/>
  <item index="6" title="5.00 mm" value="5.0"/>
</jogincrements>
  <tools>
    <item index="0" width="40" title="Platz"/>
    <item index="1" width="40" title="Wkznr"/>
    <item index="2" width="60" title="X-Offset"/>
    <item index="3" width="60" title="Y-Offset"/>
    <item index="4" width="60" title="Z-Offset"/>
    <item index="5" width="60" title="A-Offset"/>
    <item index="6" width="60" title="B-Offset"/>
    <item index="7" width="60" title="C-Offset"/>
    <item index="8" width="60" title="U-Offset"/>
    <item index="9" width="60" title="V-Offset"/>
    <item index="10" width="60" title="W-Offset"/>
    <item index="11" width="100" title="Durchmesser"/>
    <item index="12" width="60" title="Winkel Vorne"/>
    <item index="13" width="60" title="Winkel Hinten"/>
    <item index="14" width="40" title="Ausr."/>
    <item index="15" width="220" title="Bezeichnung"/>
  </tools>
  <scripts>
    <item index="0" name="test" script="test.nc"/>
  </scripts>
  <background bitmap=""/>
  <glcolors>
    <item name="bg" r="1" g="1" b="1"/>
    <item name="table" r="0" g="0" b="0.9" a="0.1"/>
    <item name="limits" r="0.7" g="0.7" b="0.6"/>    
    <item name="cone" r="1" g="0.5" b="0" a="0.5"/>
    <item name="traverse" r="0.5" g="0.5" b="0.5"/>
    <item name="feed" r="0" g="0" b="1"/>
    <item name="toolpath" r="0" g="0" b="0"/>
  </glcolors> 
  <menujog>
    <item index="0" cmd="cmREF" bitmap="refall.png" text=""/>
    <item index="1" cmd="cmTOUCHOFF" bitmap="touchoff.png" text=""/>    
    <item index="2" cmd="cmTOUCHWIZ" bitmap="touchoffwz.png" text=""/>    
    <item index="3" cmd="cmTOOLS" bitmap="tools.png" text=""/>
    <item index="4" cmd="cmSCRIPTS" bitmap="scripts.png" text=""/>
    <item index="5" cmd="cmCOORDROT" bitmap="rotate.png" text=""/>
    <item index="9" cmd="cmCLOSE" bitmap="exit.png" text=""/>
  </menujog>
  <menuref>
    <item index="0" cmd="cmBACK" bitmap="return.png" text=""/>
    <item index="1" cmd="cmREFALL" bitmap="refall.png" text=""/>    
    <item index="2" cmd="cmREFX" bitmap="refx.png" text=""/>
    <item index="3" cmd="cmREFY" bitmap="refy.png" text=""/>
    <item index="4" cmd="cmREFZ" bitmap="refz.png" text=""/>    
    <item index="5" cmd="cmREFA" bitmap="refa.png" text=""/>
    <item index="6" cmd="cmREFB" bitmap="refb.png" text=""/>
    <item index="7" cmd="cmREFC" bitmap="refc.png" text=""/>
    <item index="8" cmd="cmUNREF" bitmap="unhome.png" text=""/>
 </menuref>
  <menutouchoff>
    <item index="0" cmd="cmBACK" bitmap="return.png" text=""/>
    <item index="1" cmd="cmTOUCHX" bitmap="touchoffx.png" text=""/>
    <item index="2" cmd="cmTOUCHY" bitmap="touchoffy.png" text=""/>    
    <item index="3" cmd="cmTOUCHZ" bitmap="touchoffz.png" text=""/>
    <item index="4" cmd="cmTOUCHA" bitmap="touchoffa.png" text=""/>
    <item index="5" cmd="cmTOUCHB" bitmap="touchoffb.png" text=""/>    
    <item index="6" cmd="cmTOUCHC" bitmap="touchoffc.png" text=""/>
    <item index="7" cmd="cmZEROALL" bitmap="touchoffall.png" text="0.00"/>
    <item index="9" cmd="cmOFFSDLG" bitmap="touchedit.png" text=""/> 
  </menutouchoff>
  <menutool>
    <item index="0" cmd="cmBACK" bitmap="return.png" text=""/>
    <item index="1" cmd="cmTOOLCHG" bitmap="toolchange.png" text=""/>
    <item index="2" cmd="cmTOOLEDT" bitmap="tooledit.png" text=""/>    
  </menutool>
  <menumdi>
    <item index="0" cmd="cmMDIEXEC" bitmap="mdido.png" text=""/>
    <item index="2" cmd="cmMDIHIST" bitmap="mdidel.png" text=""/>    
  </menumdi>
  <menurun>
    <item index="0" cmd="cmRUN" bitmap="start.png" text=""/>    
    <item index="1" cmd="cmSTOP" bitmap="stop.png" text=""/>
    <item index="2" cmd="cmSTEP" bitmap="step.png" text=""/>
    <item index="3" cmd="cmPAUSE" bitmap="pause.png" text=""/>    
    <item index="4" cmd="cmRUNLINE" bitmap="startfrom.png" text=""/>
    <item index="5" cmd="cmOPTSTOP" bitmap="optstops.png" text="Opt.-Stops"/>
    <item index="6" cmd="cmBLOCKDEL" bitmap="blocks.png" text="/ Blöcke"/>
    <item index="7" cmd="cmRELOAD" bitmap="reload.png" text=""/>
    <item index="8" cmd="cmOPEN" bitmap="open.png" text=""/>
    <item index="9" cmd="cmEDITOR" bitmap="editor.png" text=""/>
  </menurun>
</CONFIG>
