<?xml version="1.0"?>
<CONFIG>
  <global>
    <float name="Edgefinderdia" value="8"/>
    <boolean name="InitialFullscreen" value="True"/>
    <boolean name="Verbose" value="False"/>
  </global>
  <tools>
    <item index="0" width="40" title="Platz"/>
    <item index="1" width="40" title="Wkznr"/>
    <item index="2" width="60" title="X-Offset"/>
    <item index="3" width="60" title="Y-Offset"/>
    <item index="4" width="60" title="Z-Offset"/>
    <item index="5" width="60" title="A-Offset"/>
    <item index="6" width="60" title="B-Offset"/>
    <item index="7" width="60" title="C-Offset"/>
    <item index="8" width="60" title="U-Offset"/>
    <item index="9" width="60" title="V-Offset"/>
    <item index="10" width="60" title="W-Offset"/>
    <item index="11" width="100" title="Durchmesser"/>
    <item index="12" width="60" title="Winkel Vorne"/>
    <item index="13" width="60" title="Winkel Hinten"/>
    <item index="14" width="40" title="Ausr."/>
    <item index="15" width="220" title="Bezeichnung"/>
  </tools>
  <scripts>
    <item index="0" name="test" script="test.nc"/>
  </scripts>
  <background bitmap=""/>
  <glcolors>
    <item name="bg" r="1" g="1" b="1"/>
    <item name="table" r="0" g="0" b="0.9" a="0.1"/>
    <item name="limits" r="0.7" g="0.7" b="0.6"/>    
    <item name="cone" r="1" g="0.5" b="0" a="0.5"/>
    <item name="traverse" r="0.5" g="0.5" b="0.5"/>
    <item name="feed" r="0" g="0" b="1"/>
    <item name="toolpath" r="0" g="0" b="0"/>
  </glcolors> 
  <menujog>
    <item index="0" cmd="cmREF" bitmap="" text="Ref.-Fahrt..."/>
    <item index="1" cmd="cmTOUCHOFF" bitmap="" text="Antasten"/>    
    <item index="2" cmd="cmTOUCHWIZ" bitmap="" text="Antasten..."/>    
    <item index="3" cmd="cmTOOLS" bitmap="" text="Werkzg."/>
    <item index="4" cmd="cmSCRIPTS" bitmap="" text="Scripts..."/>
    <item index="5" cmd="cmCOORDROT" bitmap="" text="Ausrichten..."/>
    <item index="9" cmd="cmCLOSE" bitmap="" text="Beenden"/>
  </menujog>
  <menuref>
    <item index="0" cmd="cmBACK" bitmap="" text="&lt;"/>
    <item index="1" cmd="cmREFALL" bitmap="" text="Alle Achsen"/>    
    <item index="2" cmd="cmREFX" bitmap="" text="X-Achse"/>
    <item index="3" cmd="cmREFY" bitmap="" text="Y-Achse"/>
    <item index="4" cmd="cmREFZ" bitmap="" text="Z-Achse"/>    
    <item index="5" cmd="cmREFA" bitmap="" text="A-Achse"/>
    <item index="6" cmd="cmREFB" bitmap="" text="B-Achse"/>
    <item index="7" cmd="cmREFC" bitmap="" text="C-Achse"/>
    <item index="8" cmd="cmUNREF" bitmap="" text="Ref.Aufheben"/>
 </menuref>
  <menutouchoff>
    <item index="0" cmd="cmBACK" bitmap="" text="&lt;"/>
    <item index="1" cmd="cmTOUCHX" bitmap="" text="X-Achse"/>
    <item index="2" cmd="cmTOUCHY" bitmap="" text="Y-Achse"/>    
    <item index="3" cmd="cmTOUCHZ" bitmap="" text="Z-Achse"/>
    <item index="4" cmd="cmTOUCHA" bitmap="" text="A-Achse"/>
    <item index="5" cmd="cmTOUCHB" bitmap="" text="B-Achse"/>    
    <item index="6" cmd="cmTOUCHC" bitmap="" text="C-Achse"/>
    <item index="7" cmd="cmZEROALL" bitmap="" text="Alle 0.00"/>
    <item index="9" cmd="cmOFFSDLG" bitmap="" text="Bearbeiten.."/> 
  </menutouchoff>
  <menutool>
    <item index="0" cmd="cmBACK" bitmap="" text="&lt;"/>
    <item index="1" cmd="cmTOOLCHG" bitmap="" text="Wkz-Wechsel"/>
    <item index="2" cmd="cmTOOLEDT" bitmap="" text="Wkz bearbeiten..."/>    
  </menutool>
  <menumdi>
    <item index="0" cmd="cmMDIEXEC" bitmap="" text="Ausführen"/>
    <item index="2" cmd="cmMDIHIST" bitmap="" text="Hist.-Löschen"/>    
  </menumdi>
  <menurun>
    <item index="0" cmd="cmRUN" bitmap="" text="Start"/>    
    <item index="1" cmd="cmSTOP" bitmap="" text="Stop"/>
    <item index="2" cmd="cmSTEP" bitmap="" text="Schritt"/>
    <item index="3" cmd="cmPAUSE" bitmap="" text="Pause"/>    
    <item index="4" cmd="cmRUNLINE" bitmap="" text="Start ab Zeile"/>
    <item index="5" cmd="cmOPTSTOP" bitmap="" text="Opt.-Stops"/>
    <item index="6" cmd="cmBLOCKDEL" bitmap="" text="/ Blöcke"/>
    <item index="7" cmd="cmRELOAD" bitmap="" text="Neu Laden"/>
    <item index="8" cmd="cmOPEN" bitmap="" text="Öffnen..."/>
    <item index="9" cmd="cmEDITOR" bitmap="" text="Editor..."/>
  </menurun>
</CONFIG>
